.signup-details{
    margin-top:8% ;
    display: block;
    margin-left: 0%;
    margin-right: 0%;
}
.submit-signup{
    margin-bottom: 10%;
}
.img-signup{
    align-items: center;
    margin-left: 40%;
    margin-top: 10%;
    margin-bottom: 1%;
    height: 60px;
}
.signup-div{
    display: inline-grid;
}
input[type="file"]{
    display: none;
}
.file{
  margin: 0;
}
.head-signup{
    font-weight: 400;
}
label{
    padding: 10px;
    background: black; 
    margin-top: 20px;
    color: #fff;
    border-radius: 20px;
    margin-bottom: 30px;
    cursor: pointer;
     }