.signup-details{
    margin-top:3% ;
    display: block;
    margin-left: 0%;
    margin-right: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
}
.uniqueBtn{
    width: 40%;
    margin-bottom: 3%;
    border-radius: 20px;
    outline: none;
    height: 20px;
}
.availablePng{
    width: 25px;
    height: 25px;
    margin-left: 1%;
}
.add-user{
    height: 150px;
    width: 150px;
    align-items: center;
    box-sizing: border-box;
    margin-top: 3%;
    margin-bottom: 5%;
    border-radius: 50%;
    object-fit: cover;
   object-position: top;
   background-color: rgba(0, 0, 0, .04);
}
.signin-route{
    font-weight: 300;
    font-size: 16px;
    text-align: center;
}

.info{
    text-align: left;
    font-size: 10px;
    margin: 0;
    margin-bottom: 7%;
}
li{
    text-align: left;
    margin-left: -10px;
}
ol{
    text-align: left;
}
.signup-modal{
    display: flex;
    margin-left: 28%;
}
.submit-signup{
    margin-top: 3%;
    margin-bottom: 10%;
}
.img-signup{
    align-items: center;
    margin-left: 40%;
    margin-top: 10%;
    margin-bottom: 0%;
    height: 60px;
}
.signup-div{
    display: inline-grid;
    width: 30%;
}
input[type="file"]{
    display: none;
}
.file{
  margin: 0;
}
.head-signup{
    font-weight: 400;
}
label{
    padding: 10px;
    background: white; 
    margin-top: 20px;
    color: transparent;
    border-radius: 20px;
    margin-bottom: 30px;
    cursor: pointer;

     }
label:active{
    background: none;
}