.user-message{
    background: lightgray;
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 19px;
    height: 43px;
    padding: 8px 16px;
    width: 86%;
    outline: none;
    margin-left: 2%;
}
.reciever-msg{
    -moz-user-select: none; 
    -ms-user-select: none;
 -khtml-user-select: none;
-webkit-user-select: none;
-webkit-touch-callout: none;
}
.model-delete{
    display: flex;
}
.delete-head{
    font-weight: 400;
    margin-left: 7%;
}
.model-delete button{
    padding: 10px;
    margin: 10px;
    color: white;
    background-color: #0084ff;
    background-image: none;
    border: 1px solid #0084ff;
    border-radius: 10px;
    outline: none;
}
.back{
    margin-left: 2%;
    margin-top: .5%;
    cursor: pointer;
}
.img-chat{
    margin-left: 3%;
    margin-top: .5%;
    border-radius: 50%;
}
.top-bar{
    display: flex;
    padding: 5px;
    background:transparent;
    height: 60px;
}
.user-chat{
    background-color: lightgrey;
}
.input-field{
    background-color: white;
    position: sticky;
    padding: 10px;
    height: 60px;
    display: flex;
}
.all-messages{
    height: calc(100vh - 150px);
    overflow-y: scroll;
    
}
.username-chat{
    font-weight: 400;
    font-family: sans-serif;
    margin: 0;
    margin-top: .75%;
    margin-left: 1.5%;
}
.send-btn{
    background-color: #0084ff;
    background-image: none;
    border: 1px solid #0084ff;
    border-radius: 10px;
    margin-left: 14px;
    color: #fff;
    cursor: pointer;
    padding: 15px 17px !important;
    font-size: 17px;
    outline: none;
}
.reciever-end{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    word-break: break-all;
    text-align: left;
}
.reciever-end p{
    background-color: #0084ff;
    color: white;
    align-self:flex-end;
    padding: 10px;
    max-width: 55%;
    margin:1% 5% 1% 0; 
    border-radius: 15px;
}
.sender-end{
    width: 100%;
    word-break: break-all;
    text-align: left;
    display: flex;
}
.sender-chat-img{
    margin-left: 5%;
   border-radius: 50%;
}
.sender-end p{
    background-color: lightgrey;
    padding: 10px;
    border-radius: 15px;
    margin-top: -1px;
    margin-left: 10px;
    max-width: 55%;
}
.users-list{
    margin-top: 1px !important;
    margin-left: 10px !important;
    text-align: left;
}
.list-message{
    margin-top: -14px !important;
    margin-left: 10px !important;
    text-align: left;
    width: 60%;
    opacity: 0.7;
}
.image-right{
    overflow-x: hidden;
    margin: 0;
    margin-left: 10px;
}